<!DOCTYPE html>
<html>
<head>
	<title>Add Student Information</title>
</head>
{% with messages = get_flashes_messages(with_categories=true) %}
{% if messages %}
	{% for message in messages %}
	<div class="alert alert-danger alter-dismissable fade show" role="alert">
	{{ message }}
	<button type="button" class="close" data-dismiss="alert">
	<span aria-hidden="true">&times;</span>
	</button>
	</div>
{% endif %}
{% endwith %}
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Student Database</h1>

		<body bgcolor="lightgrey">

			<form action="/addstudent" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getstudent" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET STUDENT INFORMATION</button><br><br>

		  		Roll No:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="roll_no" autofocus size="40"><br><br>

		  		First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" autofocus size="40"><br><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name" autofocus size="40"><br><br>

		  		Branch:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="branch" autofocus size="40"><br><br>

		  		College:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="college" autofocus size="40"><br><br>

		  		Image: <input type=file name="student_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>

			</form>
		</body>

	</font>
</center>
</html>
